<app-cabecera></app-cabecera>

<div class="container py-5">
    
    <div class="p-4 rounded-3 border border-secondary shadow-lg bg-dark-custom mb-5">

        <h2 class="text-white fw-bold mb-4 text-uppercase italic text-center">CREA TIPOS DE SERVICIOS
        </h2>

        <form [formGroup]="tipoServicioForm" (ngSubmit)="crear()">
            <div class="row g-4 text-white">
                <div class="mb-2">
                    <label for="nombre" class="form-label small fw-bold">TIPO DE SERVICIO (NOMBRE
                        GENERAL):</label>
                    <input type="nombre" class="form-control bg-transparent text-white border-secondary"
                        id="nombre" formControlName="nombre">
                    @if(tipoServicioForm.get("nombre")?.touched &&
                    tipoServicioForm.get("nombre")?.errors?.["required"]){
                    <span class="text-danger d-block mt-1 fw-bold small">Este campo es obligatorio</span>
                    }
                </div>

                <div class="mb-2">
                    <label for="descripcion" class="form-label small fw-bold">DESCRIPCION GENERAL:</label>
                    <textarea
                        class="form-control bg-transparent text-white border-secondary custom-textarea shadow-sm"
                        id="descripcion" formControlName="descripcion" rows="4" placeholder="Escriba una descripcion general (otros cementerios podran usar este servicio)"></textarea>
                    @if(tipoServicioForm.get("descripcion")?.touched && tipoServicioForm.get("descripcion")?.errors?.["required"]){
                    <span class="text-danger d-block mt-1 fw-bold small">Este campo es obligatorio</span>
                    }@else if(tipoServicioForm.get("descripcion")?.errors?.["maxlength"]){
                    <span class="text-danger d-block mt-1 fw-bold small">Descripcion muy larga</span>
                    }
                </div>

                <div class="mt-5 text-center">
                    <button type="submit" class="btn btn-primary-custom px-5 py-2 fw-bold text-uppercase shadow-sm">
                        CREAR
                    </button>
                </div>
            </div>
        </form>

    </div>
    
    @if(esAdmin()){
    @if(cargando){
    <app-cargando></app-cargando>
    }@else{
    <h2 class="text-custom fw-bold text-uppercase mb-4">Tipos de Servicios</h2>

    <div class="row g-3 animate-fade-in">

    @for(tipo of tiposServicios; track tipo.id) {
        <div class="col-12">
            <div class="card border-secondary bg-dark-custom text-white card-horizontal p-3">
                <div class="row align-items-center">

                    <div class="col-md-4">
                        <h5 class="fw-bold text-primary-custom mb-0 text-truncate">
                            {{ tipo.nombre }}
                        </h5>
                    </div>

                    <div class="col-md-7">
                        <div class="d-flex align-items-center text-secondary small italic">
                            <span class="text-truncate">
                                {{ tipo.descripcion }}
                            </span>
                        </div>
                    </div>

                    <div class="col-md-1 text-end">
                        <div class="d-flex justify-content-end gap-2">
                            <button (click)="borraServicio(tipo.id)" class="btn btn-outline-danger btn-sm" title="Borrar">
                                <i class="bi bi-trash"></i>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
    </div>
    }
}

</div>

<app-footer></app-footer>

<app-modal-error #modalError></app-modal-error>

<app-modal-confirmar #modalConfirmar (accionConfirmada)="confirmarBorrado()"></app-modal-confirmar>