<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-11 col-lg-10">

      <div class="p-5 rounded-3 border border-secondary shadow-lg bg-dark-custom">

        <div class="d-flex justify-content-between align-items-center mb-4 border-bottom border-secondary pb-3">
          <span class="btn btn-link text-white" routerLink="/home"><i class="bi bi-arrow-left me-2"></i>Volver al
            Inicio</span>
          <span class="btn btn-link text-white" routerLink="/registro-ciudadano">Ir a Registro Ciudadano</span>
        </div>

        <h2 class="text-white fw-bold mb-4 text-uppercase italic">Registro de Ayuntamiento
        </h2>

        <form [formGroup]="registroAyto" (ngSubmit)="registrar()">

          <div class="row g-4 text-white">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="nombre" class="form-label small fw-bold">NOMBRE:</label>
                <input type="text" class="form-control bg-transparent text-white border-secondary" id="nombre"
                  formControlName="nombre">
                @if(registroAyto.get("nombre")?.touched) {
                @if(registroAyto.get("nombre")?.errors?.["required"]) {
                <span class="text-danger d-block mt-1 fw-bold small">El nombre es obligatorio</span>
                }@else if (registroAyto.get("nombre")?.errors?.["pattern"]){
                <span class="text-danger d-block mt-1 fw-bold small">El nombre solo puede contener letras</span>
                }
                }
              </div>

              <div class="mb-3">
                <label for="direccion" class="form-label small fw-bold">DIRECCIÓN:</label>
                <input type="text" class="form-control bg-transparent text-white border-secondary" id="direccion"
                  formControlName="direccion" maxlength="50">
                @if(registroAyto.get("direccion")?.touched && registroAyto.get("direccion")?.errors?.["maxlength"]) {
                <span class="text-danger d-block mt-1 fw-bold small">Direccion demasiado larga</span>
                }
              </div>

              <div class="mb-3">
                <label for="telefono" class="form-label small fw-bold">TELÉFONO:</label>
                <input type="tel" class="form-control bg-transparent text-white border-secondary" id="telefono"
                  formControlName="telefono">
                @if(registroAyto.get("telefono")?.touched) {
                @if(registroAyto.get("telefono")?.errors?.["required"]) {
                <span class="text-danger d-block mt-1 fw-bold small">Telefono obligatorio</span>
                }@else if(registroAyto.get("telefono")?.errors?.["pattern"]) {
                <span class="text-danger d-block mt-1 fw-bold small">Telefono no valido</span>
                }
                }
              </div>

              <div class="mb-3">
                <label for="codigo" class="form-label small fw-bold">CÓDIGO:</label>
                <input type="text" class="form-control bg-transparent text-white border-secondary" id="codigo"
                  formControlName="codigo">
                @if(registroAyto.get("codigo")?.touched && registroAyto.get("codigo")?.errors?.["required"]) {
                <span class="text-danger d-block mt-1 fw-bold small">Codigo obligatorio</span>
                }
              </div>
            </div>

            <div class="col-md-6">
              <div class="mb-3">
                <label for="email" class="form-label small fw-bold">EMAIL:</label>
                <input type="email" class="form-control bg-transparent text-white border-secondary" id="email"
                  formControlName="email">
                @if(registroAyto.get("email")?.touched) {
                @if(registroAyto.get("email")?.errors?.["required"]) {
                <span class="text-danger d-block mt-1 fw-bold small">Email obligatorio</span>
                }@else if(registroAyto.get("email")?.errors?.["email"]) {
                <span class="text-danger d-block mt-1 fw-bold small">Email no valido</span>
                }
                }
              </div>

              <div class="mb-3">
                <label for="contrasena" class="form-label small fw-bold">CONTRASEÑA:</label>
                <!-- <input type="password" class="form-control bg-transparent text-white border-secondary" id="contrasena"
                  formControlName="contrasena"> -->
                <div class="input-group">
                  <input [type]="verContrasena ? 'text' : 'password'"
                    class="form-control bg-transparent text-white border-secondary border-end-0" id="contrasena"
                    formControlName="contrasena">
                  <button class="btn btn-outline-secondary border-secondary border-start-0" type="button"
                    (click)="toggleContrasena()">
                    <i class="bi" [ngClass]="verContrasena ? 'bi-eye-slash' : 'bi-eye'"></i>
                  </button>
                </div>
                @if(registroAyto.get("contrasena")?.touched) {
                @if(registroAyto.get("contrasena")?.errors?.["required"]) {
                <span class="text-danger d-block mt-1 fw-bold small">Contraseña obligatoria</span>
                }@else if(registroAyto.get("contrasena")?.errors?.["minlength"]) {
                <span class="text-danger d-block mt-1 fw-bold small">Debe tener 8 o más caracteres</span>
                }
                }
              </div>

              <div class="mb-3">
                <label for="repetirContrasena" class="form-label small fw-bold">REPETIR CONTRASEÑA:</label>
                <!-- <input type="password" class="form-control bg-transparent text-white border-secondary"
                  id="repetirContrasena" formControlName="repetirContrasena"> -->
                <div class="input-group">
                  <input [type]="verContrasena ? 'text' : 'password'"
                    class="form-control bg-transparent text-white border-secondary border-end-0" id="contrasena"
                    formControlName="contrasena">
                  <button class="btn btn-outline-secondary border-secondary border-start-0" type="button"
                    (click)="toggleContrasena()">
                    <i class="bi" [ngClass]="verContrasena ? 'bi-eye-slash' : 'bi-eye'"></i>
                  </button>
                </div>
                @if(registroAyto.get("repetirContrasena")?.touched && registroAyto.errors?.["contrasena"]) {
                <span class="text-danger d-block mt-1 fw-bold small">{{registroAyto.errors?.["contrasena"]}}</span>
                }
              </div>
            </div>

            <div class="mt-5 text-center">
              <button type="submit" class="btn btn-primary-custom px-5 py-2 fw-bold text-uppercase shadow-sm">
                REGISTRAR
              </button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<app-modal-error #modalError></app-modal-error>