<app-cabecera></app-cabecera>

<div class="container py-5 d-flex flex-column align-items-center justify-content-center">

    <h2 class="text-custom fw-bold text-uppercase mb-5 animate-fade-in">
        <i class="bi bi-credit-card-2-front me-2 text-primary-custom"></i>Formalizar Concesión
    </h2>

    @if (cargando) {
    <app-cargando></app-cargando>
    }@else{

    <div class="card bg-dark-custom border-secondary shadow-lg animate-fade-in">

        <div class="card-header bg-transparent border-secondary text-center py-4">
            <div class="mb-2">
                <i class="bi bi-bank2 fs-1 text-secondary"></i>
            </div>
            <h4 class="text-white fw-bold mb-0">{{ ayuntamiento.nombre }}</h4>
            <small class="text-secondary text-uppercase tracking-widest">Cementerio Municipal</small>
        </div>

        <div class="card-body p-4">

            @if(esCripta()){
            <div class="row g-4 mb-4">
                <div class="col-6">
                    <label class="text-secondary small fw-bold mb-1">ZONA</label>
                    <div class="text-white d-flex align-items-center">
                        <i class="bi bi-geo-alt me-2 text-primary-custom"></i>
                        <span class="fs-5">{{ zona.tipoZona.nombre }} - <span class="italic fs-8 text-secondary">{{ zona.coordenadas
                                }}</span></span>
                    </div>
                </div>
                <div class="col-6 text-end">
                    <label class="text-secondary small fw-bold mb-1">PARCELAS</label>
                    <div class="text-white d-flex align-items-center justify-content-end">
                        <span class="fs-3 fw-bold">{{ numParcelas() }}</span>
                        <i class="bi bi-box-seam ms-2 text-primary-custom"></i>
                    </div>
                </div>
            </div>
            <p class="text-secondary text-center small mt-1 fst-italic">
                * Esta cripta se vende como unidad completa. El precio incluye el total de parcelas.
            </p>
            }@else {
            <div class="row g-4 mb-4">
                <div class="col-6">
                    <label class="text-secondary small fw-bold mb-1">ZONA</label>
                    <div class="text-white d-flex align-items-center">
                        <i class="bi bi-geo-alt me-2 text-primary-custom"></i>
                        <span class="fs-5">{{ zona.tipoZona.nombre }}</span>
                    </div>
                </div>
                <div class="col-6 text-end">
                    <label class="text-secondary small fw-bold mb-1">Nº PARCELA</label>
                    <div class="text-white d-flex align-items-center justify-content-end">
                        <span class="fs-3 fw-bold">{{ parcela.numero }}</span>
                        <i class="bi bi-box-seam ms-2 text-primary-custom"></i>
                    </div>
                </div>
            </div>
            }

            <hr class="border-secondary my-4">

            <div class="d-flex justify-content-between align-items-center mb-4">
                <div>
                    <label class="text-secondary small fw-bold">CAPACIDAD</label>
                    @if(esCripta()){
                    <div class="text-white mt-1">
                        <i class="bi bi-people-fill me-2"></i>
                        {{ capacidadZona() }} Difuntos
                    </div>
                    }@else{
                    <div class="text-white mt-1">
                        <i class="bi bi-people-fill me-2"></i>
                        {{ zona.capacidadParcelas }} Difuntos
                    </div>
                    }
                </div>
                <div class="text-end">
                    <label class="text-secondary small fw-bold">DURACIÓN</label>
                    <div class="text-white mt-1">
                        <i class="bi bi-calendar-check me-2"></i>
                        50 Años (Estándar)
                    </div>
                </div>
            </div>

            <div class="bg-black bg-opacity-25 p-3 rounded-3 border border-secondary dashed-border mt-3">
                <div class="d-flex justify-content-between align-items-center">
                    <span class="text-secondary text-uppercase fw-bold">Total a Pagar</span>
                    @if(esCripta()){
                    <span class="text-secondary fs-2 fw-bold">
                        {{ precioCripta() }} €
                    </span>
                    }@else {
                    <span class="text-secondary fs-2 fw-bold">
                        {{ zona.precio }} €
                    </span>
                    }
                </div>
            </div>

            <button (click)="pagar()" class="btn btn-primary-custom w-100 py-3 mt-4 fw-bold fs-5 shadow-sm hover-scale">
                <i class="bi bi-wallet2 me-2"></i> CONFIRMAR Y PAGAR
            </button>

            <p class="text-secondary text-center small mt-3 fst-italic">
                * Al hacer clic, se generará la concesión y la factura correspondiente.
            </p>

        </div>
    </div>
    }

</div>

<!-- <app-modal-error #modalError (accionCerrar)="redirigirDespuesDelPago()"></app-modal-error> -->

<app-footer></app-footer>

<app-modal-error #modalError></app-modal-error>