<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
            <div class="p-5 rounded-3 border border-secondary shadow-lg" style="background-color: #0a192f;">
                <div class="d-flex justify-content-between align-items-center mb-4 border-bottom border-secondary pb-3">
                    <span class="btn btn-link text-white" routerLink="/home"><i class="bi bi-arrow-left me-2"></i>Volver al Inicio</span>
                </div>

                <h2 class="text-white fw-bold mb-4 text-uppercase italic text-center" style="letter-spacing: 1px;">LOGIN
                </h2>

                <form [formGroup]="loginForm" (ngSubmit)="entrar()">
                    <div class="row g-4 text-white">
                        <div class="mb-2">
                            <label for="email" class="form-label small fw-bold">EMAIL:</label>
                            <input type="email" class="form-control bg-transparent text-white border-secondary"
                                id="email" formControlName="email">
                            @if(loginForm.get("email")?.touched && (loginForm.get("email")?.errors?.["required"] ||
                            loginForm.get("email")?.errors?.["pattern"])){
                            <span class="text-danger d-block mt-1 fw-bold small">Email incorrecto</span>
                            }
                        </div>

                        <div class="mb-2">
                            <label for="contrasena" class="form-label small fw-bold">CONTRASEÑA:</label>
                            <div class="input-group">
                                <input [type]="verContrasena ? 'text' : 'password'"
                                    class="form-control bg-transparent text-white border-secondary border-end-0"
                                    id="contrasena" formControlName="contrasena">
                                <button class="btn btn-outline-secondary border-secondary border-start-0" type="button"
                                    (click)="toggleContrasena()">
                                    <i class="bi" [ngClass]="verContrasena ? 'bi-eye-slash' : 'bi-eye'"></i>
                                </button>
                            </div>
                            @if(loginForm.get("contrasena")?.touched &&
                            (loginForm.get("contrasena")?.errors?.["required"] ||
                            loginForm.get("contrasena")?.errors?.["minlength"])){
                            <span class="text-danger d-block mt-1 fw-bold small">Contraseña incorrecta</span>
                            }
                        </div>

                        <div class="mt-5 text-center">
                            <button type="submit" class="btn btn-outline-light px-5 py-2 fw-bold custom-hover-btn">
                                LOGIN
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<app-modal-error #modalError></app-modal-error>