/* You can add global styles to this file, and also import other style files */


.bg-dark-custom{
    background-color: #0a192f;
}

/* .text-custom{
    color: #0a192f;
} */

.op-9{
    opacity: 0.9;
}

.fs-7{
    font-size: 0.7rem;
}


.preview-frame {
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-img-preview {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Esto hace que la foto rellene el círculo sin estirarse */
}

/* Estilo para que el input file no se vea blanco al seleccionar */
.custom-file-input::-webkit-file-upload-button {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 0.375rem 0.75rem;
    margin-right: 10px;
    border-radius: 0.25rem;
}

.custom-file-input:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}


/* Estilo para la sección Hero */
.hero-section {
    background: linear-gradient(rgba(10, 25, 47, 0.8), rgba(10, 25, 47, 0.8)), 
                url('../public/cementerioLanding.jpg') center/cover;
    padding: 100px 0;
}

/* Botón personalizado con un azul que destaque pero sea serio */
.btn-primary-custom {
    background-color: #1a3a5f;
    color: white;
    border: none;
    transition: 0.3s;
}

.btn-primary-custom:hover {
    background-color: #2a5a8f;
    color: white;
}

/* Ajuste de tarjetas */
.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.avatar-header {
    width: 60px;
    height: 60px;
    object-fit: cover; /* Evita que la imagen se deforme si no es cuadrada */
    background-color: #0a192f;
}

/* Contenedor para asegurar que no rompa el alineado */
.profile-photo-container {
    width: 60px; /* Mismo ancho que la imagen para mantener el equilibrio con el botón volver */
    display: flex;
    justify-content: flex-end;
}


/* text area */

.custom-textarea {
    resize: vertical; /* Evita que el usuario rompa el ancho del diseño */
    min-height: 100px;
    transition: all 0.3s ease;
}

/* Efecto al hacer clic (Focus) */
.custom-textarea:focus {
    background-color: rgba(255, 255, 255, 0.05) !important; /* Un ligero brillo */
    border-color: #1a3a5f !important; /* Tu azul primario personalizado */
    box-shadow: 0 0 0 0.25 margin rgba(26, 58, 95, 0.25);
    outline: none;
    color: white;
}

/* Estilo del scrollbar para que no desentone con el modo oscuro */
.custom-textarea::-webkit-scrollbar {
    width: 8px;
}

.custom-textarea::-webkit-scrollbar-track {
    background: #0a192f; 
}

.custom-textarea::-webkit-scrollbar-thumb {
    background: #1a3a5f;
    border-radius: 10px;
}

.custom-textarea::-webkit-scrollbar-thumb:hover {
    background: #2a5a8f;
}

/* Estilo para el placeholder */
.custom-textarea::placeholder {
    color: rgba(255, 255, 255, 0.3);
    font-style: italic;
    font-size: 0.9rem;
}